@media only screen and (max-width: 500px) {
  .add-form {
    margin: 0 auto;
  }
  .add-form-group {
    margin-bottom: 0;
  }
}

.service-item {
  margin-top: 7px;
  margin-right: 15px;
}

.price-input {
  width: 50px;
}

/*.add-button {
  padding: 8px;
  border-radius: 4px;
}

.add-button a {
  text-decoration: none;
}*/

/*.lists > .add-button {
    min-width: 200px;
    background: #1565C0;
}

.lists > .add-button:hover {
    background: #0D47A1;
}

.lists > .add-button a {
    color: white;
}

.list > .add-button:hover {
    background: #BDBDBD;
}

.list > .add-button a {
    color: black;
}*/

/*.vet .add-form {
    align-self: flex-start;*/
