section {
  height: 100vh;
  background-color: #f3c2a4;
  text-align: center;
}

section:nth-child(odd) {
  background: #0ddfff;
}

h3 {
  /*position: absolute;*/
  padding: 200px 0 0;
  font-size: 1.5em;
  margin-top: 0;
}

p {
  max-width: 50%;
  margin: 10px auto;
  color: black !important;
}

@media only screen and (max-width: 340px) {
  section:last-child {
    height: 120vh;
  }
  
}