section {
  height: 100vh;
  background-color: lightgreen;
  text-align: center;
}

section:nth-child(odd) {
  background: lightyellow;
}

h3 {
  /*position: absolute;*/
  padding: 300px 0 0;
  font-size: 1.5em;
  margin-top: 0;
}

p {
  max-width: 50%;
  margin: 10px auto;
  color: black !important;
}