.edit-form button, .service button, .add-form button {
	height: 2em;
	width: 2em;
	border-radius: 4px;
	margin: 8px 8px 0;
	padding-top: 0;
	border-top: 0;
}

.edit-form input, .add-form input {
	margin-right: 8px;
	height: 2em;
}

.plus-btn {
	background-color: green;
}

.cancel-btn {
	background-color: red;
}

