footer {
    position: absolute;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: black;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
}

#myFooter .row {
    margin-bottom: 60px;
}

.logo {
    max-width: 80px;
}

#myFooter .footer-copyright {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    color: #ccc !important;
}

#socnet-div {
    margin-top: -45px;
}

#myFooter .social-networks {
    text-align: right;
    padding-top: -30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .github:hover {
    color: #ef1a1a;
}

@media screen and (max-width: 767px) {

    .social-networks {
        display: none;
    }
}