.login-form {
	/*border: 2px solid lightgray;*/
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
}

label {
	display: block;
	/*margin: 0 auto;*/
	/*height: 1em;*/
	/*margin-bottom: -50px;*/
}

input {
	margin-bottom: 20px;
}

/*.form-input {
	height: 26px;
}*/


