.navbar {
    margin-bottom: 0;
    height: 60px;
    background-color: black;
    border-color: darkgray;
    border: 0;
}

.container {
    padding-top: 5px;
}

nav ul li {
    font-weight: 500;
    font-size: 1.2em;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.4em;    
}

.nav-item a, .navbar-nav li a, .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover, .navbar-brand:hover {
    color: blue !important;
}

.navbar-nav .header-bar a {
        padding-top: 20px;
        padding-right: 20px;
    }

@media only screen and (max-width: 768px) {
    .navbar-nav .header-bar a {
        padding-top: 10px;
    }

    .navbar-default .navbar-collapse {
        border-color: black;
    }

    .navbar-collapse {
        background-color: black;
    }
    
}






