.navbar {
	height: 60px;
	padding: 1em;
	background-color: #FEFE66;
	border-color: darkgray;
}

.container-fluid {
	margin-top: -10px;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}

nav ul li {
	float: right;
	display: inline-block;
	margin: 0 10px;
}
